extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= bio.name

        p.lead.text-light= bio.title

        .portfolio-bio
          p= bio.description
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each skill in bio.skills
            li= skill
        h6 Contact Info

        ul
          li
            a(href=`tel:${bio.contact.number}`)= bio.contact.number
          li
            a(href=`mailto:${bio.contact.email}`)= bio.contact.email

        a.button.expanded(href=`${bio.socials.linkedin}`, target='_blank') LinkedIn
        a.button.expanded(href=`${bio.socials.git}`, target='_blank') GitHub
        a.button.expanded(href=`${bio.socials.twitter}`, target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
